# **Summer Springboard Computer Science Day One**

## **Make a copy in your Google Drive**
## **Rename it to "Day1_FirstnameLastname"**
## **Share your notebook with your instructor using the top right share button**

Remember: comments in Python start with the character '#'

To display a string (sequence of characters) in Python, use print!
*   print(your_string) will print your_string to the console

In [ ]:
# Let's start with a classic "Hello World" program
# Uncomment the below comment and run this cell to run your first Python program!

# print("Hello world!")

In Python, we have many different binary operators:


*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Exponentiation (**)
*   Division (/)
*   Modulo (%)

We also have many data types.  For now, we will just focus on two numeric data types:
*   integers (int) are numbers that do not have a decimal point, such as 2, 45, -8
*   floats are numbers that do have a decimal point, such as 2.71, 3.14, 1.0, -9.0001

Now let's do some basic math.  Execute the below cells to see Python math in action

In [ ]:
# 2 + 2 <- addition of two integers
2 + 2

In [ ]:
# 4.0 - 7.9 <- subtraction of two floats
4.0 - 7.8

In [ ]:
# 2 ^ 5 <- 2 to the power of 5
2 ** 5

In [ ]:
# 81.0 / 9.0 <- division of two floats
81.0 / 9.0

We can use parentheses to group operations together.  For example, (2 + 2) / 4 results in 1.0

In [15]:
(2 + 2) / 4

1.0

# Your turn!
Answer the below questions / fill in the blanks.  If you cannot answer all of the questions at this moment, that is okay!

**Question 1**

Uncomment and fill in the blank so that, when executed, the below cell results in "82" (replace \_blank_ with your answer)

In [ ]:
# (9 _blank_ 2) + 1

**Question 2**

Write a print statement that prints your name to the console.

**Question 3**

Uncomment and fill in the blanks so that, when executed, the below cell results in "-2.0"

In [ ]:
# (92 * _blank1_) + (_blank2_)

**Question 4**

Using 'print', print the result of 8 ** 5

**Question 5**

Re-write the expression 9 * 9 * 9 * 9 using the ** operator.